@using Orchard.Mvc.Html;
@using Cascade.Booking.Models;

@{
    //Script.Require("ShapesBase");

    Style.Require("Booking");

    Layout.Title = T("Bookings").ToString();
}

<h1>My Bookings</h1>

<div class="manage">@Html.ActionLink(T("Add a booking").ToString(), "Add", "Booking", new { }, new { @class = "btn btn-primary" })</div>

<table class="table table-striped booking-bookings" summary="@T("This is a table of the bookings in your application")">
    <thead>
        <tr>
            <th scope="col">@T("Name")</th>
            <th scope="col">@T("State")</th>
            <th scope="col" class="visible-sm visible-md visible-lg">@T("Number of Guests")</th>
            <th scope="col" class="visible-sm visible-md visible-lg text-right">@T("$ Total")</th>
            <th scope="col" class="visible-sm visible-md visible-lg">@T("Action")</th>
    </thead>
    @foreach (var booking in Model.Bookings)
    {
        IEnumerable<Guest> guests = booking.Guests;
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Booking", new { booking.Id })" title="@booking.Name">@booking.Name</a>
            </td>
            <td>@booking.BookingState</td>
            <td class="visible-sm visible-md visible-lg">@guests.Count().ToString()</td>
            <td class="visible-sm visible-md visible-lg text-right">@booking.Total.ToString("f2")</td>
            <td class="visible-sm visible-md visible-lg">
                <div class="action">
                    <a href="@Url.Action("Edit", "Booking", new { booking.Id })" title="@T("Edit")" class="btn btn-sm btn-info">@T("Edit")</a>
                </div>
            </td>
        </tr>
    }
</table>
