@model Cascade.Booking.ViewModels.GuestVm
@{ 
    // Hack to provide a prefix when this template is used to add a new guest
    // (as opposed to its normal use in rendering a list of guests)
    var idname = Html.NameFor(m => m.Id).ToString();
    string prefix = String.Empty;
    if(!idname.StartsWith("Guests")){
        var sequence = Model.Sequence;
        prefix = "Guests[" + sequence + "].";
    }
}
<tr>
    <td>
        <input type="hidden" value="@Model.Id" name='@prefix@Html.NameFor(m=>m.Id)' />
        <input type="text" value="@Model.FirstName" name='@prefix@Html.NameFor(m=>m.FirstName)'/>
    </td>
    <td>
        <input type="text" value="@Model.LastName" name='@prefix@Html.NameFor(m=>m.LastName)' />
    </td>
    <td>
        @Html.DropDownListFor(m=>m.Category, Model.Categories)
    </td>
    <td>
        <input type="datetime" value="@Model.From.Date" name='@prefix@Html.NameFor(m=>m.From.Date)' />
    </td>
    <td>
        <input type="datetime" value="@Model.To.Date" name='@prefix@Html.NameFor(m=>m.To.Date)' />
    </td>
    <td>
        @Html.DisplayFor(m => m.SeasonName)
    </td>
    <td>
        @Html.DisplayFor(m => m.CostPerNight)
    </td>
    <td>
        @Html.DisplayFor(m=>m.TotalCost)
    </td>
    <td>
        <input type="checkbox" value="true" @(Model.Deleted ? "checked" : "") name='@prefix@Html.NameFor(m=>m.Deleted)' />
    </td>
</tr>

